body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*background: #f1f1f1;*/
}

#content {
  display: flex;
  justify-content: space-between;
}

#leftcolumn {
  flex-basis: 65%;
}

#rightcolumn {
  flex-basis: 35%;
}

.row {
  display: flex;
  justify-content: center;
}

.left-row {
  flex-basis: 50%;
}
.right-row {
  flex-basis: 50%;
}

.form-input {
    width: 90%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.form-input-invalid{
  border: 1px solid #dc3545;

}
.mb-2 {
  margin-bottom: 0.75rem;
}
.fakeimg {
  width: 100%;
  border-radius: 10px;
}

.fakeimg img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}
.button{
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.button-principal{
  background-color: #1A3668;
  border-color: #1A3668;

}
.invalid-feedback{
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}


.card {
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: #767676;
}

.card h2 {
  color: #1a3668;
  font-size: 1.8rem;
}
.card p {
  font-size: 1.3em;
  line-height: 1.69565217em;
}

@media only screen and (max-width: 800px) {
  #content {
    display: inline;
  }
}
@media only screen and (max-width: 1140px) {
  .row {
    display: inline;
  }
}
