body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*background: #f1f1f1;*/
}

#content {
  display: flex;
  justify-content: space-between;

}

#leftcolumn {
  flex-basis: 65%;
}

#rightcolumn {
  flex-basis: 35%;
}

.fakeimg {
  width: 100%;
  border-radius: 10px;
}

.fakeimg img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.card {
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: #767676;
}

.card h2 {
  color: #1a3668;
  font-size: 1.8rem;
}
.card p {
  font-size: 1.3em;
  line-height: 1.69565217em;
}

@media only screen and (max-width: 768px) {
  .row {
    display: inline;
  }
}
